@font-face {
  font-family: 'JejuStoneWall';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NexonCartGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KartriderMedium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NexonCartGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KartriderBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NexonCartGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KartriderExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
@font-face {
    font-family: 'SeoulNamsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-text {
  font-family: 'JejuStoneWall';
}

.head-text {
  font-family: 'NexonCartGothic';
}
.holo-text{
  font-family: 'SeoulNamsan';
}

/* 공통 메인 영역 */
.main-content {
  width: 100%;
  max-width: 1200px;
  min-height: 700px;

  margin: 0 auto;
  padding: 40px 60px;
  box-sizing: border-box;
}