@font-face {
    font-family: 'KoreaInstituteOfMachineryAndMaterials';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'KoreaInstituteOfMachineryAndMaterials';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

.blog .card-box-container {
    display: flex;
    flex-direction: row;
    height: 530px;
    width: 1000px;
    background-color: aliceblue;
}

.font {
    font-family: 'KoreaInstituteOfMachineryAndMaterials' !important;
}

.blog .card-title {
    font-weight: 700;
    font-size: 25px;
}

.blog .card-url {
    background-color: #8188eb;
    color: white;
}

.blog .card-date {
    color: rgb(231, 231, 225);
}