@font-face {
    font-family: 'KoreaInstituteOfMachineryAndMaterials';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'KoreaInstituteOfMachineryAndMaterials';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


.news .card-box-container {
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 1000px;
    background-color: aliceblue;
}

.news .card-title {
    font-family: 'KoreaInstituteOfMachineryAndMaterials';
    font-weight: 700;
    font-size: 30px;
    background: rgb(50, 103, 211);
    color: white;
}