.card-box-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 900px;
    background-color: aliceblue;
}

.card-title {
    text-align: center;
}

iframe {
    height: 300px;
    width: 800px;
}